*{
    padding: 0;
    margin: 0;
    overflow: hidden;
}
header{
    border: 1px solid black;
    height: 8vh;
    text-align: center;

}

main{
    border: 1px solid black;
    height: 87vh;

}

#chat{
    width: 60%;
    border: 1px solid black;
    height: 84vh;
    margin: 0 auto;
}

#chatWindow{
    overflow: scroll;
    width: 100%;
    height: 79vh;
}

#message{
    display: block;
    float: left;
    margin: 5px;
    width: 78%;
    height: 3vh;
}

#send{
    height: 4vh;
    width: 17%;
    margin: 5px;
}
footer{
    border: 1px solid black;
    height: 5vh;
    width: 100%;
    text-align: right; 
}

p{
    margin-right: 5%;
}